.contact__form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;

}

@media (min-width: 875px) {
    .contact__form {
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
    }
}

.contact__form__input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.contact__form__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 32px;
    margin-top: 0;
}

@media (min-width: 875px) {
    .contact__form__title {
        margin-bottom: auto;
    }
}
.contact__form__label {
    margin-bottom: 30px;
}
.contact__form__label > p {
    margin: 0;
    font-family: "Poppins";
    font-weight: 400;
}

.contact__form__input {
    width: 335px;
    height: 45px;
}

.contact__form__label > textarea {
    height: 115px;
}

.contact__form__button {
    height: 35px;
    width: 335px;
    margin-top: 30px;
    background-color: #2C2C2C;
    border: none;
    border-radius: 5px;
    color: #FAFAFA;
    font-family: "Poppins";
    font-weight: 700;
}