.footer {
    height: 400px;
    padding: 80px 150px;
    background-color: #2C2C2C;
    color: aliceblue;
}

.footer__social__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
}

.footer__container {
    display: flex;
    flex-direction: column;

}

.footer__logo {
    font-family: "Orbitron";
    font-size: 48px;
    margin-bottom: 30px;
    text-align: center;
}

@media (min-width: 875px) {
    .footer__container {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer__logo {
        margin: auto 0;
        height: 100%;
    }
} 


.footer__social-content {
    font-family: "Poppins";
    font-size: 18px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.footer__social-name {
    /* display: inline; */
}

.footer__social-icon {
    /* display: inline; */
    height: 40px;
}