.header {
  padding: 50px 80px;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  height: 150px;
  background-color: #14141430;
  width: 100%;

  position: fixed;
  top: 0;

  z-index: 9;

  box-shadow: 0px 0px 6px 0px rgba(5, 5, 5, 0.5);
}

@media (max-width: 512px) {
  .header {
    padding: 25px 40px;
  }
}

.header > a {
  width: auto;
  height: auto;
  text-decoration: none;
}

.header__logo {
  display: inline;
  margin: 0;
  width: 200px;
  font-family: "Orbitron";
  font-size: 48px;
  color: aliceblue;
  font-style: normal;
}

.header__menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-left: auto;
}

@media (min-width: 875px) {
  .header__menu-btn {
    display: none;
  }
}

.header__menu-btn__burger {
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.header__menu-btn__burger::before,
.header__menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.header__menu-btn__burger::before {
  transform: translateY(-16px);
}
.header__menu-btn__burger::after {
  transform: translateY(16px);
}

/* ANIMATION */
.header__menu-btn.open .header__menu-btn__burger {
  background: transparent;
  box-shadow: none;
}
.header__menu-btn.open .header__menu-btn__burger::before {
  transform: rotate(45deg);
}
.header__menu-btn.open .header__menu-btn__burger::after {
  transform: rotate(-45deg);
}

.header__nav {
  display: inline;
  width: 450px;
  margin-left: auto;
}

.header__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}

@media (max-width: 875px) {
  .header__logo {
    width: 120px;
  }
  .header__links {
    display: none;
  }
}

.header__links-link > a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.header__window {
  position: absolute;
  background-color: #141414de;
  height: calc(100vh - 150px);
  top: 150px;
  right: 0px;
  left: 0px;
  bottom: 550px;
  display: none;
}
.visible {
  display: block;
}

.header__window-links {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  list-style: none;
  padding: 0;
  width: 100%;
  height: 100%;
}

.header__window-link > a {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  font-family: "Montserrat";
  height: 150px;
}
