/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

.header {
    padding: 50px 80px;
    font-family:'Poppins', sans-serif;;
    display: flex;
    align-items: center;
    height: 150px;
}
.header > a {
    width: auto;
    height: auto;
}


.header__logo {
    display: inline;
    margin: 0;
    width: 200px;
}

.header__nav {
    display: inline;
    width: 450px;
    margin-left: auto;
}

.header__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

.header__burguer-closed {
    display: none;
    margin-left: auto;
}
@media (max-width: 875px) {
    .header__logo {
        width: 120px;
    }
    .header__links {
        display: none;
    }
    .header__burguer-closed {
        display: block;
    }
}

.header__links-link > a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

