.proyects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 80px;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 940px) {
  .proyects {
    flex-direction: row;
  }
}

.proyect__item-container {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.proyect__item-img {
  width: 100px;
  height: 100px;
  min-height: 100px;
  width: auto;
}

.proyect__item-description,
.proyect__item-title,
.proyect__item-link {
  margin: 0;
  text-align: center;
}

.proyect__item-title {
  font-size: 24px;
  font-weight: 700;
  font-family: "Poppins";
  /* margin-top: 15px; */
}

.proyect__item-link {
  margin-top: 15px;
  font-size: 24px;
  font-weight: 700;
  font-family: "Poppins";
  color: coral;
  font-style: none;
  text-decoration: none;
}

.proyect__item-description {
  font-size: 16px;
  font-weight: 400;
}
