.services__content-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  min-height: 450px;
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

@media (min-width: 820px) {
  .services__content-list {
    flex-direction: row;
    height: 400px;
  }
}

.services__content__item {
  margin: 0;
  width: 300px;
  min-height: 450px;
  height: 100%;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.services__content-img {
  width: 200px;
  height: 200px;
  min-width: 200px;
  min-height: 200px;
  border-radius: 100%;
}

@media (min-width: 820px) {
  .services__content-img {
    height: 150px;
  }
}

.services__content-title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.services__content-description {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}
