* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

.home {
    height: 620px;
    color: white;
    background-color: #141414;
    width: 100%;
    font-family: "Montserrat",sans-serif;
}
.home__container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 150px);
}

.home__container > h1, .home__container > h2 {
    text-align: center;
    margin: 10px;
    font-weight: 700;
}

.home__container > h1 {
    font-size: 48px;
}

.home__container > h2 {
    font-size: 32px;
}

.i-am {
    height: 620px;
    background-color: #141414;
    padding: 60px 40px;
    color: white;
    font-family: "Poppins";
}

.i-am__container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-am__text-container{
    max-width: 600px;
    max-height: 200px;
    margin: auto;
}

.i-am__title {
    margin: 0;
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 700;
}

.i-am__content{
    margin:0;
    text-align:left;
    font-size: 16px;
}

.services {
    min-height: 620px;
    background-color: #FAFAFA;
}

.contact {
    min-height: 620px;
    background-color: #141414;
}

.footer {
    height: 400px;
    background-color: #2C2C2C;
}